* {
    margin: auto 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: rgb(242, 242, 242);
    overflow-x: hidden;
}

header {
    margin-bottom: 20px;
}

a {
    text-decoration: none;
}

    a:link {
        color: darkblue;
        background-color: transparent;
        text-decoration: none;
    }

    a:hover {
        color: black;
        background-color: lightgray;
        border-radius: 3px;
        text-decoration: none;
        cursor: pointer;
    }

div#lang {
   float: left;
   margin: 10px 5px 0 5px;
}

div#lang, a:hover {
   background: none;
}

.navbar-right {
  margin-top: 5px;
  margin-right: -25px;
}

.contact {
    margin-top: 10px;
}

    .contact span {
        padding-left: 20px;
    }

    .contact img {
        vertical-align: middle;
        /*height: 45px;*/
    }

#profilpic {
    max-width: 200px;
    max-height: : 200px;
    box-shadow: 10px 10px 5px #bbb;
    -moz-box-shadow: 10px 10px 5px #bbb;
    -webkit-box-shadow: 10px 10px 5px #bbb;
    -khtml-box-shadow: 10px 10px 5px #bbb;
}

.personal {
    display: inline-block;
    font-size: 40px;
}

    .personal h1 {
        display: inline-block;
        margin: 0;
        font-size: 40px;
    }

    .personal h2 {
        margin: 0;
        font-size: 24px;
        color: rgb(91, 92, 92);
    }

    .personal #fname {
        color: rgb(43, 42, 42);
    }

    .personal #social {
        /*margin-left: 11%;*/
    }

    .personal #social img {
        /*margin-top: 6%;
        margin-left: 2%;*/
        width: 30px;
    }

    .personal #lchange {
        display: block;
        /*margin-top: 5%;
        margin-left: 23%;*/
        font-size: 18px;
    }

        .personal #lchange time {
            background-color: #bbb;
            border-radius: 3px;
        }

.qr {
    display: inline-block;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

    .qr img {
        margin-bottom: 10px;
        box-shadow: 10px 10px 5px #bbb;
        -moz-box-shadow: 10px 10px 5px #bbb;
        -webkit-box-shadow: 10px 10px 5px #bbb;
        -khtml-box-shadow: 10px 10px 5px #bbb;
    }

#photos {
    margin-top: 5%;
}

#softskills img {
    width: 43px;
}

#experience img {
    width: 43px;
    vertical-align: middle;
}

#lstar li {
  margin-bottom: 10px;
}

.stars {
    display: inline-block;
    margin-left: 10px;
}

    .stars img {
        vertical-align: top;
        width: 20px;
    }

.estar {
    opacity: 0.4;
}

#vehicle {
    margin-left: 5px;
}

#vehicle img {
    vertical-align: bottom;
    margin-right: 8px;
}

.more {
  margin-top: 10px;
}

div.panel-heading:hover {
    cursor: pointer;
    color: black;
}

div.panel-heading:hover h3 {
    font-weight: bold;
}
